html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.8rem;
    color: #fff;

    background-color: rgb(21,23,23);

    padding-bottom: 100px;
}

.header__inner {
    line-height: 50px;
    text-align: center;

    background-color: rgb(54,58,61);

    padding: 0 50px;

    a + a {
        margin-left: 40px;
    }
}

a {
    text-decoration: none;
    color: rgb(129,177,255);

    transition: color 0.2s;

    &:hover {
        color: rgb(60,131,255);
    }
}

main {
    text-align: center;
    padding-top: 50px;
}

.output-table {
    border-collapse: collapse;
    width: 70%;
    height: 100%;
    margin: 50px auto 0;

    td,
    th {
        border: 1px solid gray;
        padding: 5px;
    }
}

.text-info {
    margin-top: 20px;
}

.dark-btn {
    display: block;
    width: 50%;
    height: 50px;

    font: inherit;
    color: #fff;

    cursor: pointer;
    background-color: rgb(45,48,50);
    border: 2px solid rgb(88,96,99);
    border-radius: 15px;

    margin: 20px auto 0;
}

.data {
    width: 800px;

    margin: 0 auto;

    textarea {
        width: 100%;
        height: 400px;
        resize: none;

        background-color: #35393c;
        border-color: rgb(45,48,50);
        border-radius: 15px;
        outline: none;

        font: inherit;
        color: #fff;

        padding: 15px 5px;
    }
}

.division {
    display: flex;
    justify-content: space-around;

    .input-data {
        margin: 0;
    }

    table {
        width: 40%;
    }
}